.but{
    height: 30px;
    width: 37px;
    border-radius: 5px;
    border:2px solid #fa9779;
    background-color: #0f0f0f;
    color: white;
    font-size: 14;
    margin-left: 5px;
    margin-right: 5px;
}
.but:hover{

    border:2px solid #f4511e;

}
.ul{
    list-style: none;
    
   }