.search {
    padding: 20px;
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .searchTerm {
    font-size: 10px;
    background-color: #0f0f0f ;
    opacity: 0.80;
    width: auto;
    border: 1px solid #fa9779;
    border-right: none;
    height: 15px;
    outline: none;
    color: #fff;
    
  }
  
  .searchTerm:focus{
    color: white;
  }
  
  .searchButton {
    width: auto;
    height: 19px;
    border: 1px solid #fa9779;
    background: #0f0f0f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 10px;
  }

  .searchButton:hover{
    border: 1px solid #f4511e;
    color: #0f0f0f;
    background-color: #fff;
  }