.search {
    padding: 20px;
    width: auto;
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .searchTerm {
    font-size: 13px;
    background-color: #0f0f0f ;
    opacity: 0.80;
    width: auto;
    border: 5px solid #fa9779;
    border-right: none;
    height: auto;
    
    outline: none;
    color: #fff;
    
  }
  
  .searchTerm:focus{
    color: white;
  }
  
  .searchButton {
    width: auto;
    height: auto;
    border: 5px solid #fa9779;
    background: #0f0f0f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 13px;
  }

  .searchButton:hover{
    border: 5px solid #f4511e;
  }